.wrapper {
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 100%;
}

.inner {
    padding: 12px;
    background-color: #ccc;
    min-height: calc(100vh - var(--header-height) - 48px);
    width: 200px;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--white-color);
    border-radius: 8px;
}

.list-link {
    list-style-type: none;
}

.link {
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;

    .icon {
        font-size: 1.6rem;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        padding-bottom: 4px;
    }

    &:hover,
    &:active {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}
