.search,
.search-result {
    width: 500px;
}
.search {
    background-color: #fff;
    height: 40px;
    border-radius: var(--search-border-radius);
    display: flex;
    padding-left: 24px;
    position: relative;
    border: 1px solid transparent;

    .search-input:not(:placeholder-shown) ~ .search-button {
        color: rgba(22, 24, 35, 0.75);
    }

    &::before {
        content: '';
        position: absolute;
        right: calc(var(--search-button-width) + var(--search-filter-width));
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.36);
    }
    &:focus-within {
        border-color: rgba(0, 0, 0, 0.4);
    }
}

.search-result-title {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 1.6rem;
}

.loading,
.clear {
    position: absolute;
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.3);
    top: 50%;
    transform: translateY(-50%);
    right: calc(var(--search-button-width) + 12px + var(--search-filter-width));
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
}

.search-button {
    height: 100%;
    width: var(--search-button-width);
    font-size: 18px;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.24);
    background-color: rgba(22, 24, 35, 0.1);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.2);
    }

    &:active {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.2);
    }
}

.search-filter-info {
    width: 150px;
}
.search-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(22, 24, 35, 0.6);
    padding: 0 8px;
    width: var(--search-filter-width);

    cursor: pointer;

    .icon {
        margin-left: 8px;
    }
}

.search-filter-body {
    width: var(--search-filter-width);
}

.search-filter-item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
