.wrapper {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    margin-top: calc(var(--header-height) + 12px);
}

.content {
    flex: 1;
    margin-left: 12px;
    margin-right: 24px;
    padding: 12px;
    background-color: #ccc;
}
