.wrapper {
    height: 600px;
    width: 100%;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--white-color);
    padding: 24px;
    border-radius: 8px;
    .table {
        font-size: 1.6rem;
    }
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.usermame {
    font-size: 16px;
    margin-left: 8px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}
